.MedcineDash-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.MedcineDash-body {
  width: calc(100vw - 265px);
  display: flex;
  flex-direction: column;
}
