.modal-container {
  width: calc(100vw - 250px);
  /* height: 100vh; */
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  min-height: 100vh;
}

.modal-creation {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.close-modal-btn {
  z-index: 99999999999999999999999999999999999;
  width: 50px;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.dossier-pation-profil {
  width: 20vw;
  background-color: rgba(214, 240, 241, 0.596);
  height: 70vh;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 50px;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.dossier-pation-profil img {
  width: 100px;
  height: 100px;
  margin: 30px;
  object-fit: cover;
  border-radius: 50%;
}
.dossier-patient-container {
  display: flex;
  width: 100%;
  /* height: 1000px; */
}

.dossier-pation-consultation-container {
  width: 60vw;
  min-height: 300px;
  background-color: beige;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* justify-content: center; */
  overflow: hidden;
}

.consultation-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.add-consultaion-card-btn {
  color: #1c1c1c;
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* width: 30%; */
  cursor: pointer;
  padding: 10px;
  min-height: 250px;
  width: 100%;
}

.add-consultaion-card-btn:hover {
  background-color: rgba(196, 227, 196, 0.689);
}

.add-consultaion-card-btn img {
  width: 100px;
}

.consultation-card-container {
  width: 94%;
  min-height: 250px;
  background-color: rgba(196, 227, 196, 0.509);
  border: 1px solid gray;
  border-radius: 20px;
  overflow: hidden;
}

.consultation-modal-container {
  z-index: 999999999;
  /* width: calc(100vw - 265px); */
  width: 100%;
  min-height: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  right: 0;
  /* background-color: rgb(234, 252, 255); */
  background-color: rgba(196, 227, 196, 1);
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
}

.consultation-modal-under-container {
  display: flex;
  width: 100%;
  /* height: 100vh; */
  gap: 30px;
  justify-content: center;
  align-items: flex-start;
}

.consultation-modal-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #1c1c1c;
  padding: 10px;
  padding-bottom: 20px;
  border-radius: 20px;
  margin-top: 10px;
}

.confirm-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  align-self: flex-end;
  margin-top: 10px;
}
