.AssistanteDash-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.AssistanteDash-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}
